<div class="container">
	<h3>Contact</h3>
	<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
		commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
</div>
<div class="container col-md-6 bg-light bg-gradient mb-5">
	<form class="p-2 row border border-light-subtle">
		<div class="col-md-3 d-md-flex justify-content-md-end">
			<label for="E-mail" class="form-label"><strong>Your E-mail</strong></label>
		</div>
		<div class="mb-3 col-md-9">
			<input type="email" class="form-control" id="E-mail" name="E-mail" placeholder="Your email" required>
		</div>
		<div class="col-md-3 d-md-flex justify-content-md-end">
			<label for="Comentario" class="form-label"><strong>Your message</strong></label>
		</div>
		<div class=" col-md-9 mb-3">
			<textarea class="form-control" id="Comentario" name="Comentario" rows="4"
				placeholder="Please enter your message here..." required></textarea>
		</div>
		<div class="mb-3 d-grid d-md-flex justify-content-md-end">
			<button class="btn btn-primary me-md-2" type="submit">Submit</button>
		</div>
	</form>
</div>
