<!-- your html code here -->
<div class="container">
    <div class="row">

        <h3>Portfolio</h3>
        <p>Donec ullamcorper nulla non metus auctor fringilia. Vestibullum id ligula porta felis euismod semper.
            Praesent commodo cursus magna. vel scelerisque nisi consectetur. Fusce dapibus, tellus ac cursus commodo
        </p>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lore ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <img src="big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lore ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                    gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
            <img src="big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Card title</h5>
                <p class="card-text">Lore ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                    gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
</div>
</div>